.file {
    width: 20rem;
    height: 50px;
    border-bottom: solid 1px #918d8d;
    margin: 2px 0 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    margin: 5px 2px 0 0;
}

.summary {
    border-radius: 5px;
    width: 40rem;
    height: 30rem;
    background: #ece7e7;
    margin: 20px 20px 0 20px;
    padding: 20px 20px 0 20px;
}

.button-btn {
    margin: 20px 0 0 10px;
}

.items {
    overflow-y: scroll;
}




